<div class="chartDiv" style="margin-left: 10vh; margin-right: 10vh;margin-top: 10vh;">
    <app-line-graph></app-line-graph>
  
    <div class="charColl" style="margin-left: 1vh; width: 60vh; 
    height: 40vh;">
      <mat-card  class="chart-container" style="border-radius: 1vh;">
          <app-bar-graph></app-bar-graph>
      </mat-card>
      <mat-card style="margin-top: 1vh;border-radius: 1vh;">
        <div class="chartDiv" >
          <app-semi-donut></app-semi-donut>
          <app-semi-donut></app-semi-donut>
        </div>
      </mat-card>
  
    </div>
    
  </div>
