<mat-toolbar style="background-color: rebeccapurple">
    <mat-toolbar-row>
        <button style="color: white" mat-icon-button (click)="opened=!opened">
            <mat-icon >menu</mat-icon>
        </button>
        <button style="color: white" mat-icon-button>
            <mat-icon>home</mat-icon>
            Home
        </button>
        <span class="example-spacer"></span>
        <mat-slide-toggle style="padding: 0 14px;color: white" (click)="toggleDarkMode()" [(ngModel)]="isDarkMode">Dark mode</mat-slide-toggle>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="push" style="background-color: rebeccapurple">
        <h4 class="name" style="color: white">{{nome}}</h4>
        <mat-icon class="avatar">
            person
        </mat-icon>
        <p class="job" style="color: white">{{job}}</p>
        <mat-list>
            <mat-list-item>
                <button mat-button routerLink="/home">
                    <mat-icon style="color:white">home
                    </mat-icon>
                    <a style="color: white">Home</a>
                </button>
                
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/graph">
                    <mat-icon style="color:white"> insert_chart
                    </mat-icon>
                    <a style="color:white">Gráficos</a>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>